<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock title%}</title>
    </head>
    <body>
    <!-- MENU -->
    {% block nav %}
    <nav style="background-color: #66B9BF;">
        <div class="nav-wrapper">
            <a href="/" class="">Campanha do Agasalho</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Início</a></li>
                <li><a href="/cadastrar">Cadastrar</a></li>
                <li><a href="/">Como doar</a></li>
                <li><a href="/doar">Doar</a></li>
                <li><a href="/quemsomos">Quem somos</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout"><button class="waves-effect waves-light btn-small" style="background-color: #FF914D;">Sair</button></a></li>
                {% else %}
                    <li><a href="/login"><button class="waves-effect waves-light btn-small" style="background-color: #FF914D;">Login</button></a></li>
                {% endif %}               
            </ul>
        </div>
    </nav>
    {% endblock nav %}

    {% block message %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="card-panel teal lighten-5">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    {% endblock message%}

    {% block content %}

    {% endblock content %}

    <!-- RODAPÉ -->
    {% block footer %}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="#top" id="return">
          <i class="large material-icons" style="background-color: #FF914D;">arrow_drop_up</i>
        </a>
    </div>
    <footer class="page-footer" style="background-color: #07889B;">
        <div class="container">
            <div class="row">
                <div class="col l4 offset-l2 s12">
                    <ul> 
                        <li><i class="tiny material-icons">place</i> Guanambi, Bahia</li>
                        <li><i class="tiny material-icons">phone</i> +1 555 123456</li>
                        <li><i class="tiny material-icons">email</i> csd9102@gmail.com</li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <h5 class="white-text">O que é CSD?</h5>
                    <p class="grey-text text-lighten-4">O CSD (Campanha Solidária do Desapego) é um site filantropico que tem o objetivo de receber doações de roupas, para entregá-las a pessoas carentes.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container text-lighten-4 center">
                ©2019 Copyright
            </div>
        </div>
    </footer>
    {% endblock footer %}

      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, options);
        });
        $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        });
            $('.carousel').carousel({
                interval: 2000
            })
        </script>
    </body>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('#return').fadeIn();
        } else {
            $('#return').fadeOut();
        }
    });

    $('#return').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
});
    </script>
</html>